/* ==========================================================================
   button with an icon
   ========================================================================== */

/**
 * this class allows you ta align an icon with the text in a btn, the icon will
 * always be aligned in the middle of the text.
 * This code is designed for both the default bootstrap glyphicons and Fontawesome.
 *
 * Example HTML:
 *
 * <div class="btn btn-default btn-iconed">
 *     <i class="glyphicon glyphicon-<type>"></i>
 *     <span>[button text]</span>
 * </div>
 */
 
.btn-iconed{
  display:inline-table;
  white-space: normal;
  text-align: left;
  background-clip: padding-box;
  
  > span,
  .glyphicon,
  [class^="icon-"],
  [class*=" icon-"]{
    display:table-cell;
    vertical-align: middle;
  }
  .glyphicon,
  [class^="icon-"],
  [class*=" icon-"]{
    width: 16/14em;
    &.icon-large {
      width: 20/14em;
    }
  }

  > span + [class^="icon-"],
  > span + [class*=" icon-"]{
    padding-left: .3em;
    padding-right: 0;
    text-align: right;
  }


  // bootstrap integration
  &.btn-block{
    display:table;
    padding-left: @padding-base-horizontal;
    padding-right: @padding-base-horizontal;
    &.btn-lg{
      padding-left: @padding-large-horizontal;
      padding-right: @padding-large-horizontal;
    }
    &.btn-sm{
      padding-left: @padding-small-horizontal;
      padding-right: @padding-small-horizontal;
    }
    &.btn-xs{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}