/* ==========================================================================
   Flexible media embeds
   ========================================================================== */

/**
 * Flexible media embeds
 *
 * For use with media embeds – such as videos, slideshows, or even images –
 * that need to retain a specific aspect ratio but adapt to the width of their
 * containing element.
 *
 * inspired on http://foundation.zurb.com/docs/components/flex_video.html
 *
 * Example HTML:
 *
 * <div class="flex-video flex-video-widescreen">
 *     [iframe|object|embed|img]
 * </div>
 */

.flex-video {
  position: relative;
  padding-top: 0px;
  padding-bottom: percentage(3 / 4);
  height: 0;
  margin-bottom: @line-height-computed;
  overflow: hidden; 

  iframe,
  object,
  embed,
  video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }
}
.flex-video-youtube{
  padding-top: 25px; // extra space for the youtube chrome
}
.flex-video-widescreen{
  padding-bottom: percentage(9 / 16); // 16/9-format
}
// .flex-video-anamorphic{
//   padding-bottom: percentage(1 / 2.4); // Anamorphic format (http://en.wikipedia.org/wiki/Anamorphic_format)
// }