.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: percentage(3 / 4);
  height: 0;
  margin-bottom: @line-height-computed;
  overflow: hidden; 

  iframe,
  object,
  embed,
  video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }

  &.widescreen{
    //padding-bottom: 57.25%;
    padding-bottom: percentage(9 / 16); // 16/9-format
  }
  &.no-chrome{
    padding-top: 0;
  }
}