/* ==========================================================================
   Responsive version of some BS utilities
   ========================================================================== */

/**
 *
 * - Responsive versions of the .pull-left and .pull-right classes
 * - a .clear class that simply clears the floats (with responsive version)
 *
 */
.pull-xs-right {
	float: right !important;
}
.pull-xs-left {
	float: left !important;
}
.pull-xs-none {
	float: none !important;
}
.clear,
.clear-xs{
	clear:both;
}
@media (min-width: @screen-tablet) {
	.pull-sm-right {
		float: right !important;
	}
	.pull-sm-left {
		float: left !important;
	}
	.pull-sm-none {
		float: none !important;
	}
	.clear-sm{
		clear:both;
	}
}
@media (min-width: @screen-desktop) {
	.pull-md-right {
		float: right !important;
	}
	.pull-md-left {
		float: left !important;
	}
	.pull-md-none {
		float: none !important;
	}
	.clear-md{
		clear:both;
	}
}
@media (min-width: @screen-lg-desktop) {
	.pull-lg-right {
		float: right !important;
	}
	.pull-lg-left {
		float: left !important;
	}
	.pull-lg-none {
		float: none !important;
	}
	.clear-lg{
		clear:both;
	}
}
