/* 
Base styles
===========

*Inspired on http://semantic-ui.com/views/statistic.html*

## Single item

    <div class="stat">
       <div class="stat-value">123</div>
    </div>

## Label above

    <div class="stat">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12<small>€</small></div>
    </div>

## Label below

    <div class="stat">
        <div class="stat-value">42</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>


## Label above and below

    <div class="stat">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>
*/

.stat {
  display: inline-block;
  margin: 0 .25em;
  &.pull-left{
    margin: 0 2em 1em 0;
  }
  &.pull-right{
    margin: 0 0 1em 2em;
  }
}
a.stat{
  &:hover,
  &:focus{
    text-decoration:none;
  }
}

.stat-value,
.stat-label{
  text-align: center;
  display:block;
}
.stat-value{
  font-size:4em;
  line-height: .9em;
  text-transform: uppercase;
  > .glyphicon{
    font-size:.8em; //make icons slightly smaler so they visualy align with numbers
  }
  > small{
    font-size:0.5em;
  }
}
.stat-label{
  opacity:0.8;
}

/*
Horizontal
==========

## Label Right

    <div class="stat stat-horizontal">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12<small>€</small></div>
    </div>

## Label Left

    <div class="stat stat-horizontal">
        <div class="stat-value">42</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>


## Label left and right

    <div class="stat stat-horizontal">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>
*/
.stat-horizontal{
  display: block;
  max-width: 9999px;
  margin: 0;

  > .stat-value,
  > .stat-label{
    display: inline-block;
    vertical-align: middle;
  }
  > .stat-label{
    margin: 0 .25em;
    text-align: right;

    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  > .stat-value ~ .stat-label{
    text-align: left;
  }
}

/*
Sizes
=====

Note: this can be used together with the sizes

## Extra small

    <div class="stat stat-xs">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>

## Small

    <div class="stat stat-sm">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>

## Default

    <div class="stat">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>

## Large

    <div class="stat stat-lg">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>
*/
.stat-xs > .stat-value{font-size:2em;}
.stat-sm > .stat-value{font-size:3em;}
.stat-lg > .stat-value{font-size:6em;}

/*
Contextual color variations
===========================

    <div class="stat stat-primary">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>
    <div class="stat stat-success">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>
    <div class="stat stat-info">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>
    <div class="stat stat-warning">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>
    <div class="stat stat-danger">
        <div class="stat-label">Starting from</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Crazy monkeys</div>
    </div>
*/
.stat-primary {
  .stat-variant(@stat-primary-color);
}

.stat-success {
  .stat-variant(@stat-success-color);
}

.stat-info {
  .stat-variant(@stat-info-color);
}

.stat-warning {
  .stat-variant(@stat-warning-color);
}

.stat-danger {
  .stat-variant(@stat-danger-color);
}


/*
Inside a button
===============

    <a class="stat btn btn-default" href="#">
        <span class="stat-value">12</span>
        <span class="stat-label">Crazy monkeys</span>
    </a>
    <a class="stat btn btn-primary" href="#">
        <span class="stat-value">12</span>
        <span class="stat-label">Crazy monkeys</span>
    </a>
    <a class="stat btn btn-success" href="#">
        <span class="stat-value">12</span>
        <span class="stat-label">Crazy monkeys</span>
    </a>
    <a class="stat btn btn-warning" href="#">
        <span class="stat-value">12</span>
        <span class="stat-label">Crazy monkeys</span>
    </a>
    <a class="stat btn btn-danger" href="#">
        <span class="stat-value">12</span>
        <span class="stat-label">Crazy monkeys</span>
    </a>
*/